.Button {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  &.small {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}
