.Button {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
