.category-tabs {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .tab-button {
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-primary);
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;

    &.Senior {
      border-color: var(--color-senior-dark);
    }

    &.Femenino {
      border-color: var(--color-femenino-dark);
    }

    &.Mini {
      border-color: var(--color-mini-dark);
    }

    &.Peques {
      border-color: var(--color-peques-dark);
    }

    &.active {
      background: var(--color-primary);
      color: white;

      &.Senior {
        background: var(--color-senior-dark);
      }

      &.Femenino {
        background: var(--color-femenino-dark);
      }

      &.Mini {
        background: var(--color-mini-dark);
      }

      &.Peques {
        background: var(--color-peques-dark);
      }
    }
  }
}
