.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;

  .nav-item {
    font-size: 1.6rem;

    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.2s ease;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .nav-item.active {
    border-bottom: 2px solid var(--color-primary);
  }

  .nav-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
