.games-page {
  max-width: 500px;
  margin: 0 auto;

  .checkbox-row {
    margin: 1rem 0;
    text-align: left;
    color: var(--color-primary);

    .checkbox-label {
      font-size: 0.9rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }
    }
  }
}
